.header {
  background: var(--color-main);
  z-index: 10;
  position: relative;
  &__slogan {
    text-align: left;
  }
  &__target {
    @include adaptiv-font(26,20);
    text-transform: uppercase;
  }
  &__label {
    color: var(--color-third);
    @include adaptiv-font(18,14);
  }
  &__nav {
    padding: 20px 0;
  }
  &-nav {
    &__list {
      display: flex;
      justify-content: center;
    }
    &__item {
      padding: 0 20px;
      border-left: 1px solid var(--color-third);
      margin: auto 0;
    }
    &__item:last-child {
      border-right: 1px solid var(--color-third);
    }
    &__link {
      color: inherit;
    }
    &__search {
      &-form {
        width: 30px;
        height: 30px;
        display: block;
        position: relative;
        transition: var(--transition-base);
        &:hover {
          width: 200px;
          cursor: pointer;
        }
        &:hover input{
          display: block;
        }
      }
      &-input {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 35px);
        height: 100%;
        display: none;
        background: var(--color-second);
        color: var(--color-txt-accent);
        z-index: 1;
        border-radius: 10px;
        padding: 0 10px;
      }
      &-icon {
        display: block;
        width: 30px;
        height: 30px;
        background: url('@img/search.svg') no-repeat center top / cover;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
.subheader {
  padding: 35px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-third);
}

