.header {
  background: var(--color-main);
  &__slogan {
    text-align: left;
  }
  &__target {
    font-size: 26px;
    text-transform: uppercase;
  }
  &__label {
    color: var(--color-third);
    font-size: 18px;
  }
  &__btn {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background: url('@img/mail.svg') no-repeat center top / cover;
      height: 30px;
      width: 30px;
      left: 20px;
      top: 12px;
      transition: var(--transition-base);
      z-index: 2;
    }
    &:hover {
      &::before {
        transform: scale(1.3);
      }
    }
  }
  &__nav {}
}
.subheader {
  padding: 36px 0 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  &__list {}
  &__item {}
  &__link {}
}
