.users {
  background: var(--color-second);
  position: relative;
  padding: 79px 0 182px;
  &::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -45px;
    width: 45%;
    height: 150%;
    background: url('@img/pattern_left.svg') no-repeat ;
    z-index: 0;
  }
  &::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -90px;
    width: 45%;
    height: 150%;
    background: url('@img/pattern_right.svg') no-repeat ;
    z-index: 0;
  }
  &__title {}
}
.user {
  &__target {
    max-width: 639px;
    width: 100%;
    padding: 21px 0 22px;
    margin: 63px auto 0;
    background: var(--color-main);
    border-radius: 15px;
    border: 1px solid var(--color-main);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.1);
  }
  &__target-txt {
    color: var(--color-txt-accent);
    text-align: center;
   &_strong {
    font-weight: 700;
   }
  }
  &__box {
    border-top: 1px solid var(--color-main);
    margin-top: 41px;
    display: flex;
    justify-content: space-around;
  }
  &__inner {
    margin-top: 40px;
    background: var(--color-main);
    border-radius: 20px;
    max-width: 520px;
    width: 100%;
    padding: 66px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__subtitle {
    margin-bottom: 45px;
  }
  &__txt {
    max-width: 440px;
    width: 100%;
    margin: 0 auto;
  }
  &__btn {
    border-radius: 10px;
    padding: 16px 0;
    max-width: 270px;
    &::after {
      border-radius: 10px;
      background: linear-gradient(284.58deg, #00575E -4.84%, rgba(0, 86, 94, 0.2) 104.35%);
    }
  }
}

