.btn {
  background: linear-gradient(290.54deg, #D9D9D9 1.12%, #D9D9D9 101.4%),
linear-gradient(284.58deg, #E5E5E5 -4.84%, rgba(229, 229, 229, 0.2) 104.35%);
  border: 1px solid;
  border-image-source: linear-gradient(290.54deg, #D9D9D9 1.12%, #D9D9D9 101.4%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  color: var(--color-txt-accent);
  font-weight: 400;
  display: inline-block;
  text-align: center;
  transition: var(--transition-base);
  font-size: 18px;
  line-height: 1.3;
  padding: 17px 25px 16px 65px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-main);
    top:0;
    left:0;

    transform: translateY(-110%);
    transition: var(--transition-base);
    overflow: hidden;
    z-index: -1;
  }
  &:hover {
    // box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.25);
    // backdrop-filter: unset;
    color: var(--color-txt);
    z-index: 3;
    &::after {
      transform: translateY(0);
      border-radius: 10px;
      // z-index: 0;
    }
  }
  &:active {
    box-shadow: unset;
    backdrop-filter: unset;
  }
  &.focus-visible {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: unset;
  }
}

.btn-glass {
  background: linear-gradient(284.58deg, #E5E5E5 -4.84%, rgba(229, 229, 229, 0.2) 104.35%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  color: var(--color-txt);
  font-weight: 400;
  display: block;
  text-align: center;
  transition: var(--transition-base);
  font-size: 18px;
  line-height: 1.3;
  padding: 15px 26px 18px 66px;
  border-radius: 20px;
  &:hover {
    background: linear-gradient(284.58deg, #00575E -4.84%, rgba(0, 86, 94, 0.2) 104.35%);
    background: linear-gradient(104.29deg, #00575E -4.47%, rgba(0, 86, 94, 0.2) 100%);
    color: var(--color-main);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &:active {
    background: linear-gradient(284.58deg, #00575E -4.84%, rgba(0, 86, 94, 0.2) 104.35%);
    background: linear-gradient(104.29deg, #00575E -4.47%, rgba(0, 86, 94, 0.2) 100%);
    box-shadow: unset;
  }
  &.focus-visible {
    background: linear-gradient(284.58deg, #00575E -4.84%, rgba(0, 86, 94, 0.2) 104.35%);
    background: linear-gradient(104.29deg, #00575E -4.47%, rgba(0, 86, 94, 0.2) 100%);
  }
}


